*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    background-color: #ccc;
}
#container{
    height: auto;overflow: hidden;
}
#top{
    margin: 10px;
    margin-bottom: 10px;
    margin-bottom: 0;
    height: 100px;overflow: hidden;
}
.button{
    width:100px;float: left;
    height: 100px;
}